@page "/user"
@using BlazorApp.Data;

<h3>Online Users</h3>

@*razor component 끼리 데이터 넘기는 방법*@
<ShowUser Users="_users" CallbackTest="CallbackTestFunc" @ref="_showUser"></ShowUser>

<br />

<div class="cotainer">
	<div class = "row">
		<div class = "col">
			<input class="form-control" placeholder="Add User" @bind-value="_inputName" />
		</div>
		<div class = "col">
			<!-- html 속성에도 binding 가능 -->
			<!-- conditional attribute 속성 자체에 조건을 붙일 수 도 있다. ex disabled -->
			<button class="btn btn-primary" type="button" @onclick="AddUser" disabled="@(_users.Count >= 5)">Add a User</button>
		</div>
	</div>
</div>

@code {
	List<UserData> _users = new List<UserData>();
	// child가 가지고 있는 함수를 호출하기 위해서 reference
	ShowUser _showUser;

	string _inputName;

	void AddUser()
	{
		_showUser.AddUser(new UserData() { Name = _inputName });
		// _users.Add(new UserData() { Name = _inputName });
		_inputName = "";
	}

	void KickUser(UserData user)
	{
		_users.Remove(user);
	}

	void CallbackTestFunc()
	{
		_inputName = "CallbackTest";
		StateHasChanged();
	}
}
