@page
@model HelloEmpty.Pages.IndexModel
@{
}

<html>
<head>
	<title>Hello Razor Pages!</title>
</head>
<body>
	<!-- 골뱅이 쓰는 이유는 C#이랑 섞기 위해서 근데 label asp-for 골뱅이 안붙여도됨-->
	<h1>@Model.HelloMsg.Message</h1>
	<hr />
	<h2>@Model.Noti</h2>
	<form method="post">
		<label asp-for="HelloMsg.Message">Enter Message</label>
		<br/>
		<input type="text" asp-for="HelloMsg.Message"/>
		<br/>
		<button type="submit">Submit</button>
	</form>
</body>
</html>